body {
    font-family: 'Montserrat', sans-serif;
    min-width: 350px;
    padding: 0!important;
    margin: 0!important;
}

#currently-playing {
    margin-left: 5px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid black;
    padding: 10px 0;
}

.digit {
    width: 30px;
    margin-left: -12px;
    font-size: 50px;
    font-weight: 800;
    text-shadow: 2px 2px #FF0000;
}

#first.digit {
    width: 25px;
    margin-left: -5px;
}

.body {
    margin-left: 25px;
}

.title {
    font-weight: 850;
    font-size: 15px;
}

.artist {
    font-style: italic;
    font-weight: 600;
}

.card:hover {
    background-color: black;
    color: white;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}